<!DOCTYPE html>
<html>

<head>
    {{>headContent}}
</head>

<body>

    <div class="main-content">

    {{>header}}

    <p>This website was created by {{name}}. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="/img/photo.jpg">

    </div>
    
{{>footer}}